<h2>Edit Image</h2>
<div class="uk-grid uk-grid-column-small uk-grid-row-small uk-child-width-1-3@s uk-child-width-1-6@m">
    <div>
        <div class="upload-icon">
           <div class="button-container">
               <button mat-icon-button (click)="openUploader()">
                   <mat-icon>cloud_upload</mat-icon>
               </button>
           </div>
        </div>
    </div>
    <div *ngFor="let n of images">
       <img src="{{n}}" width="100%" >
    </div>
</div>